sqoop import -libjars /var/lib/sqoop/tdgssconfig.jar --username ${USERNAME} --password-file file://${password_file} --driver com.teradata.jdbc.TeraDriver --connect jdbc:teradata://${tdhost}/DATABASE=${teradata_database},LOGMECH=ldap --table ${teradata_table_inbound} --hive-import --delete-target-dir --target-dir ${hdfs_path}${hive_table_inbound} --hive-database ${hive_database} --hive-table ${hive_table_inbound} ${num_mappers_statement} --outdir ${outdir} ${primary_key_statement}