sqoop import -libjars /var/lib/sqoop/tdgssconfig.jar --username ${USERNAME} --password-file file://${password_file} --driver com.teradata.jdbc.TeraDriver --connect jdbc:teradata://${tdhost}/DATABASE=${teradata_database},LOGMECH=ldap --table ${teradata_table_inbound} --hive-import --delete-target-dir --target-dir /hdfsdata/vs1/hca/adva/phi/all_lob/work/hive/playground/${hive_table_inbound} --hive-database ${hive_database} --hive-table ${hive_table_inbound} --create-hive-table -m ${num_mappers} --outdir ${outdir} --split-by ${primary_key}
